/*
    #FEFBE9
    #E1EEDD
    #F0A04B
    #183A1D

*/

* {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FEFBE9;
}


.navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    align-items: center;
    background-color: #E1EEDD;
    border-bottom: 4px solid #183A1D;
}

.logo {
    font-size: 1.2rem;
    color: #183A1D;
    padding: .5rem;
    grid-column: 1;
}

.space {
    grid-column: 2;

}

.button{
    display: grid;
    grid-column: 3;
    justify-content: center;
}

.add:hover {
    background-color: #183A1D;
    color:#F0A04B;
    border: 2px solid #F0A04B;
    transition-duration: .3s;
    cursor: pointer;
}

.add {
    border: 2px solid #183A1D;
    background-color: #F0A04B;
    font-size: 1.5rem;
    color:#183A1D;
    padding: 1rem;
    border-radius: 10px;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: repeat(autofill, 1fr);
}

.holder{
    grid-column: 1fr;
}

/* Form */

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    right: 50%;
    bottom: 50%;
    height: 100%;
    width: 100%;
    
}

.form-container {
    width: 300px;
    padding: 10px;
    background-color: #E1EEDD;
    border: 1px solid #183A1D;
    border-radius: 12px;
}

.form-container h1 {
    text-align: center;
    color:#183A1D;
}

.form-container input[type=text], .form-container input[type=number]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #FEFBE9;
}

/* Buttons */
.cancel {
    border: none;
    border-radius: 12px;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.cancel:hover {
    background-color: white;
    color: red;
    cursor: pointer;
    transition-duration: .3s;
    
}

.submit {
    border: none;
    background-color: #F0A04B;
    font-size: 1.5rem;
    color:#183A1D;
    padding: 10px;
    border-radius: 10px;
}

.submit:hover {
    background-color: #183A1D;
    color: #F0A04B;
    cursor: pointer;
    transition-duration: .3s;
}